input[type="text"] {
    width: 500px;
}
input[type="password"] {
    width: 500px;
}
.col{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
